*{
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', Helvetica, sans-serif;
  background: url('./img/listen-music.png');
  background-size: cover;
}

.about{
  text-align: center;
  color: #fff;
  margin-top: 15rem;
}
.title{
  font-size: 4rem;
}
.instruction{
  font-size: 2rem;
  margin-top: 2.5rem;
}
.keys {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.key {
  border-radius: 1.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .1rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: #fff;
  background: rgba(0,0,0,0.4);
}

.playing {
  transform: scale(1.1);
  /* border: 0.3rem solid #39406b; */
}

.kbd {
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
